language: c
compiler: gcc
os: linux

#matrix:
#  include:
#    os: linux
#      addons:
#        apt:
#          sources:
#            - ubuntu-toolchain-r-test
#          packages:
#            - g++-6
#      env:
#        - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"

before_install:
- sudo add-apt-repository -y ppa:team-xbmc/ppa
- sudo apt-get update -qq
- sudo apt-get install -y libegl1-mesa-dev
- sudo apt-get install -y libgles2-mesa-dev
- sudo apt-get install -y libsdl2-dev
#- eval "${MATRIX_EVAL}"

#install: make
script: 
  - cd src
  - make
